html, body, ul, ol, li, form, fieldset, legend {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

fieldset, img {
    border: 0;
}

legend {
    color: #000;
}

li {
    list-style: none;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    vertical-align: top;
    font-weight: normal;
}

input, textarea, select {
    font-size: 110%;
    line-height: 1.1;
}

abbr, acronym {
    border-bottom: .1em dotted;
    cursor: help;
}

body {
    margin: 20px;
    color: #000;
    background: #fff;
    font: 90%/1.3 "DejaVu Sans", "URW Gothic L", "Helvetica Neue", Helvetica, Arial, "Microsoft Sans Serif", sans-serif;
}

#container {
    display: grid;
    grid-template: 60px 1fr 1fr 2fr / 1fr 3fr 1fr;
    gap: 1rem;
    background: #bbb;
}

#header {
    grid-area: 1/1/2/4;
}

#nav {
    grid-area: 2/1/3/2;
    align-content: start;
    background: lime;
}

#content {
    grid-area: 2/2/5/3;
    background: yellow;
    display: grid;
    grid-template-columns: auto auto;
    grid-row: 60px auto;
}

#extras {
    grid-area: 2/3/4/4;
    background: gray;
}

.feature-image {
    display: block;
    position: relative;
    width: 95%;
    right: -5%;
}

#l {
    grid-area: 2/1/3/2;
}

#r {
    grid-area: 2/2/3/3;
}

#content h2 {
    grid-area: 1/1/2/3;
}

@media only screen and (max-width: 1000px) {
    #container {
        grid-template: 60px 10rem 3fr 1fr / 1fr 3fr;
        gap: 0px 1rem;
        padding-right: 1rem;
        background: #bbb;
    }
    #header {
        grid-area: 1/1/2/3;
    }
    #nav {
        grid-area: 2/1/3/2;
        align-content: start;
        background: lime;
    }
    #content {
        grid-area: 2/2/4/3;
        background: yellow;
        display: grid;
        grid-template-columns: auto auto;
        grid-row: 60px auto;
    }
    #extras {
        grid-area: 4/2/5/3;
        background: gray;
        margin-bottom: 1rem;
    }
    .feature-image {
        display: block;
        position: relative;
        width: 95%;
        right: -5%;
    }
    #l {
        grid-area: 2/1/3/2;
    }
    #r {
        grid-area: 2/2/3/3;
    }
    #content h2 {
        grid-area: 1/1/2/3;
    }
}

@media only screen and (max-width: 480px) {
    #container {
        grid-template: 60px 8rem 2fr 1fr / 1fr;
        gap: 0px;
        padding: 0px;
        background: #bbb;
    }
    #header {
        grid-area: 1/1/2/2;
    }
    #nav {
        grid-area: 2/1/3/2;
        align-content: start;
        background: lime;
    }
    #content {
        grid-area: 3/1/4/2;
        background: yellow;
    }
    #extras {
        grid-area: 4/1/5/2;
        background: gray;
        margin: 1rem 0px;
    }
    .feature-image {
        display: none;
        position: relative;
        width: 95%;
        right: -5%;
    }
}